<footer class="footer">
    <div class="container">
        <div class="footer-middle text-center">
            <div class="widget">
                <ul class="widget-body">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="blog-classic.html">Blog</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="https://d-themes.com/buynow/riodehtml">Buy Riode!</a></li>
                </ul>
            </div>
            <div class="social-links">
                <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
            </div>
        </div>

        <div class="footer-bottom d-block text-center">
            <p class="copyright">Riode eCommerce &copy; 2022. All Rights Reserved</p>
        </div>

    </div>
</footer>