<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--head-->
<th:block th:insert="admin/layouts/homeAdmin/head.html"></th:block>


<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!--sidebar-->
    <th:block th:insert="admin/layouts/homeAdmin/sidebar.html"></th:block>

    <!--navbar-->
    <th:block th:insert="admin/layouts/homeAdmin/navbar.html"></th:block>
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:object="${category_add}" method="post" th:action="@{/admin/create-category}">
                                <div class="form-group">
                                    <label>Tên danh mục</label>
                                    <input type="text" class="form-control"
                                           th:field="*{categoryName}"
                                           placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <input type="text" class="form-control"
                                           th:field="*{description}"
                                           placeholder="description">
                                </div>
                                <div>
                                    <label>Category Status :</label>
                                    <input type="radio" th:field="*{categoryStatus}" value="1">
                                    <span>Hiện</span>
                                    <input type="radio" th:field="*{categoryStatus}" value="0">
                                    <span>Ẩn</span>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <a th:href="@{/admin/category}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper End-->
<!--footer-->
<th:block th:insert="admin/layouts/homeAdmin/footer.html"></th:block>

<!--Script-->
<th:block th:insert="admin/layouts/homeAdmin/script.html"></th:block>

</body>
</html>